@model WebBangDiaNhac.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngheSi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngheSi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioHang.tenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioHang.tenSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSanPham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
