@model WebBangDiaNhac.Models.KhachHang
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("DangNhap", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!-- Giao diện trang đăng nhập -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>WELCOME!</p>
        </div>
    </section>

    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Đăng nhập</h3>
                        <div class="login-form">
                            <div class="form-group">
                                @Html.LabelFor(model => model.email, "Email đăng nhập", htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @id = "form-username", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.matKhau, "Mật khẩu", htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.matKhau, new { htmlAttributes = new { @class = "form-control", @id = "form-password", type = "password", @placeholder = "Mật khẩu" } })
                                @Html.ValidationMessageFor(model => model.matKhau, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                            <small class="form-text text-muted" style="font-size: 0.8rem;">
                                <i class="fa fa-lock mr-2"></i>nếu chưa có tài khoản,
                                <a href="@Url.Action("DangKy", "User")" class="text-decoration-none">đăng ký</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
} 
