@model WebBangDiaNhac.Models.KhachHang
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            
            <h2>WELCOME!</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Đăng Ký</h3>
                        <!-- Login Form -->
                        @using (Html.BeginForm("DangKy", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="login-form">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.hoTen, "Họ và tên")
                                        @Html.TextBoxFor(model => model.hoTen, new { @class = "form-control", placeholder = "Nhập họ và tên" })
                                        @Html.ValidationMessageFor(model => model.hoTen, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.diaChi, "Địa chỉ")
                                        @Html.TextBoxFor(model => model.diaChi, new { @class = "form-control", placeholder = "Nhập địa chỉ liên hệ" })
                                        @Html.ValidationMessageFor(model => model.diaChi, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.soDienThoai, "Số điện thoại")
                                        @Html.TextBoxFor(model => model.soDienThoai, new { @class = "form-control", placeholder = "Nhập số điện thoại" })
                                        @Html.ValidationMessageFor(model => model.soDienThoai, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @id = "form-username", @placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                        <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.matKhau, "Mật khẩu", htmlAttributes: new { @class = "form-label" })
                                        @Html.EditorFor(model => model.matKhau, new { htmlAttributes = new { @class = "form-control", @id = "form-password", type = "password", @placeholder = "Mật khẩu" } })
                                        @Html.ValidationMessageFor(model => model.matKhau, "", new { @class = "text-danger" })
                                    </div>
                                    <button type="submit" class="btn oneMusic-btn mt-30">Đăng ký</button>
                                    <small class="form-text text-muted" style="font-size: 0.8rem;">
                                        <i class="fa fa-lock mr-2"></i>nếu đã có tài khoản,
                                        <a href="@Url.Action("DangNhap", "User")" class="text-decoration-none">Đăng nhập</a>
                                    </small>


                                </form>

                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">



            </div>
        </div>
    </footer>

    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
</html>


